extends ../layouts/application.pug

block content
  table.table.table-striped
    thead
      tr
        th= t('views.statuses.name')
    tbody
      each status in statuses
        tr
          td= status.name
