extends ../layouts/application.pug

block header
  = t('views.statuses.header')

block content
  a.btn.btn-primary(href=route('newStatus'))= t('views.statuses.new.action')
  table.table.table-striped
    thead
      tr
        th= t('views.statuses.name')
    tbody
      each status in statuses
        tr
          td= status.name
