extends ../layouts/application.pug

block header
  = t('views.statuses.new.header')


block content
  +formFor()(action=route('statuses') method='post')
    +input(status, 'name', t('views.statuses.name'), errors)(type="text")
    +submit(status)(value=t('views.statuses.new.submit'))
